:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* Start Sign Page */
  .sign-up-page {
    height: 100vh;
    background-image:url(../images/89d746ae-a736-44af-96cd-f400cfc2b21c.jpeg);
    background-size: cover;
  }
  
  .sign-up-container {
    border: 2px solid rgba(207, 81, 81, 0);
    backdrop-filter: blur(30px);
    border-radius: 8px;
  }
  .form-group input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .submit button {
    background-color: var(--blue-color);
    border-radius: 4px;
  }
  .submit button:hover{
    background-color: var(--blue-alt-color);
  }
  .submit a:checked form .form-group:first-child{
    display: none;
  }
  /* End Sign Page */
  